html, body, .signin-window, .chat-window {
    height: 100%;
}

body {
    background-color: #f2f2f2;
    overflow-x: hidden;
}

/* Login Window */
.signin-window {
    text-align: center;
    padding: 40px;
}

.form-signin-signup {
    max-width: 330px;
}

.form-signin-signup .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.form-signin-signup button {
    margin-top: 10px;
}

/* Chat Window */
.contacts-list {
    overflow-y: auto;
}

.contacts-list-modal-body {
    max-height: 400px;
    overflow-y: auto;
}

.contact {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

.display-name {
    font-weight: bold;
}

.recent-message {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    color: #888;
}

.selected-contact {
    background-color: #ddd;
}

.unread {
    font-weight: bold;
    color: #333;
}

.chat-history-row {
    max-height: calc(100vh - 101px);
    overflow-y: auto;
}

.message-input {
    background-color: transparent;
    border: none;
}

.col-btn {
    flex: 0 0 75px;
}

.message {
    overflow: hidden;
    display: inline-block;
    padding-top: 10px;
    width: 100%;
}

.message .incoming, .message .outgoing {
    padding: 10px;
    max-width: 80%;
}

.message .incoming {
    border-radius: 0px 10px 10px 10px;
    background-color: #5ab0ea;
    float: left;
}

.message .outgoing {
    border-radius: 10px 10px 0px 10px;
    background-color: #5680e9;
    float: right;
}
